
body { background-color: snow; }

.css_wont_collide * { font-family: 'Quicksand'; transition: width .3s;}
.css_wont_collide th { color: white; font-weight: 900; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.541); }
.css_wont_collide thead:nth-child(1) th { background-color: #3273bf; }
.css_wont_collide thead:nth-child(2) th { background-color: #b2c8e0; }
.css_wont_collide td { font-weight: 500; }
.css_wont_collide a { color: skyblue } 
.css_wont_collide a:hover { color: skyblue; opacity: .6; }
.css_wont_collide .centerize { text-align:  center; }